.sd-pagination-item {
  cursor: pointer;
  border-radius: 4px;
  user-select: none;
  min-width: 32px;
  height: 32px;
  line-height: 30px;
  text-align: center;
  list-style: none;
  display: inline-block;
  vertical-align: middle;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  margin-right: 8px;
  font-family: Arial;
  outline: 0;
  &-active {
    border-color: #1890ff;
    font-weight: 500;
    a {
      color: #1890ff;
    }
  }
  &:focus {
    transition: all .3s;
    border-color: #1890ff;
    a {
      color: #1890ff;
    }
  }
}
.sd-pagination-prev, .sd-pagination-jump-prev, .sd-pagination-jump-next {
  margin-right: 8px;
  outline: none;
}
.sd-pagination-prev, .sd-pagination-next, .sd-pagination-jump-prev, .sd-pagination-jump-next {
  font-family: Arial;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.65);
  border-radius: 4px;
  list-style: none;
  min-width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: 18px;
  text-align: center;
  // transition: all .3s;
  display: inline-block;
  vertical-align: middle;
  outline: none;
  &:focus {
    transition: all .3s;
    border-color: #1890ff;
    .sd-pagination-item-link {
      border-color: #1890ff;
    }
    a {
      color: #1890ff;
    }
  }
}
.sd-pagination-prev-disabled, .sd-pagination-next-disabled {
  border-color: #d9d9d9;
  color: rgba(0, 0, 0, 0.25);
  cursor: not-allowed;
}
.sd-pagination-prev, .sd-pagination-next {
  .sd-pagination-item-link {
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 4px;
    outline: none;
    display: block;
    // transition: all .3s;
  }
}
