.module-card {
  margin: 0 auto;
  width: 800px;
  padding: 20px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 4px;
  border: 1px solid #ebeef5;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
