.todo {
  list-style: none;
  line-height: 28px;
  font-size: 18px;
  cursor: pointer;
}
.addTodo {
  margin-bottom: 10px;
  input {
    line-height: 28px;
    padding-left: 10px;
    font-size: 18px;
  }
}
.todo-filter, .undo-redo {
  margin-top: 10px;
}
button {
  padding: 5px 10px;
  background: #fff;
  border-radius: 2px;
  font-size: 16px;
}
.delete-todo {
  margin-left: 20px;
  color: #e43;
  font-size: 14px;
  cursor: pointer;
}
